/helpers/output

/docusaurus/node_modules
/docusaurus/build
/docusaurus/.docusaurus
/docusaurus/cache-loader
/docusaurus/.DS_Store
/docusaurus/.env.local
/docusaurus/.env.development.local
/docusaurus/.env.test.local
/docusaurus/.env.production.local

/docusaurus/npm-debug.log*
/docusaurus/yarn-debug.log*
/docusaurus/yarn-error.log*